 /* * {
  box-sizing: border-box;
} */


#map {
width: 600px;
height: 600px;
}


#map div{
  border: 1px solid white;
  width: 30px;
  height: 30px;
  float: left;
}

#start-button{
  height: 60px;
  width:  150px;
  color: green;
  background-color: black;
  outline: none;
  font-size: 25px;
}

#start-button .score{
    font-family: 'Press Start 2P', cursive;
}


.blank {background-color: white;}
.path {background-color: white;}


.snake{
  background-color: black
}

.head{
  background-color: blue
}

.food{
  background-color: red;
}

.score{
  text-align: center;
  color: white;
}

body{
  background: linear-gradient(black, green);
  height: 1000px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1, .score {
  font-family: 'Press Start 2P', cursive;
  /* color: grey; */
}

h1{
  color: white;
}

footer{
  text-align: center;
  width: 200px;
}

/* #gameOver {
  background-image: url(./images/snake.gif);
} */

img{
  background-size: cover;
}

#flash {
  animation: blinker 1s linear infinite;
}

#gameOver {
  text-align: center;
}
#try-button{
  height: 60px;
  width:  150px;
  color: green;
  background-color: black;
  outline: none;
  font-size: 25px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
